/* basic reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5efe6;
}

.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  position: relative;
}

.screen {
  display: none;
  padding: 2.5rem;
  text-align: center;
}

.screen.active {
  display: block;
}

#start-screen h1 {
  color: #e86a33;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  margin-bottom: 1rem;
}

#start-screen p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}

#start-btn {
  padding: 1rem 1.8rem;
  border: none;
  background-color: #e86a33;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#start-btn:hover {
  background-color: #d45b28;;
}

.quiz-header {
  margin-bottom: 30px;
}

.quiz-header h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 24px;
}

.question-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.progress-bar {
  background-color: #f5efe6;
  height: 10px;
  border-radius: 5px;
  margin-top: 24px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #e86a33;
  transition: all 0.2s ease;
}

.progress, .progress-bar {
  border-radius: 100px;
}

#end-screen h1 {
  color: #f06326;
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px rgba(255, 186, 58, 0.2);
  font-weight: 800;
  margin-bottom: 1rem;
}

.stats {
  background-color: #f8f0e5;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  margin-bottom: 24px;
}

.stats p {
  color: #333;
  margin-bottom: 1rem;
}

#affirmation {
  font-size: 1.8rem;
  color: #e86a33;
  font-weight: 600;
}

.end-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#restart-btn, #back-to-main-menu {
  padding: 1rem 1.8rem;
  border: none;
  background-color: #e86a33;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#restart-btn:hover, #back-to-main-menu:hover {
  background-color: #d45b28;;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
}

.answer-btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: solid 1px #f0d7b2;
  background-color: #f5efe6;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.answer-btn:hover {
  background-color: #f0d7b2;
}

.answer-btn.correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.answer-btn.incorrect {
  background-color: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}

/* Responsive design */
@media (max-width: 650px) {
  .end-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.75rem;
  }
  
  .container {
    width: 80%;
    padding: 2rem 1rem;
  }
}