/* basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #edf1ef, #8bd1bb);
  padding: 1rem;
  color: #333;
}

.app-container {
  background-color: white;
  width: 90%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.2rem 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


.app-container h1 {
  color: #2ecc71;
  font-size: 2.2rem;
  margin-bottom: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

#bookmark-name, #bookmark-url {
  padding: 12px 16px;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#add-bookmark {
  cursor: pointer;
  margin-top: 6px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #2ecc71;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

#add-bookmark:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#add-bookmark:active {
  transform: translate(2px, 4px);
  box-shadow: none;
}

#bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  padding: 8px 8px 8px 4px;
  --top: 0px;
  --bottom: 0px;
  box-shadow:
    inset 0 var(--top) 8px -8px rgba(0,0,0,0.2),
    inset 0 var(--bottom) 8px -8px rgba(0,0,0,0.2);
  transition: box-shadow 0.2s ease;
}

#bookmark-list::-webkit-scrollbar {
  width: 8px;
}

#bookmark-list::-webkit-scrollbar-track {
  /* track is the bg of the scrollbar */
  background-color: #e3ffee;
  border-radius: 4px;
}
#bookmark-list::-webkit-scrollbar-thumb {
  /* thumb is the draggble part of the scrollbar */
  background-color: #cbd5e0;
  border-radius: 4px;
}
#bookmark-list::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
}

#bookmark-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  animation: slideIn 0.4s ease;
}

/* lets add slide out animation */
#bookmark-list li.removing {
  animation: slideOut 0.3s ease;
}

#bookmark-list li a {
  text-decoration: none;
  color: #19b65a;
  font-size: 1.25rem;
}

#bookmark-list li button {
  padding: 10px 15px;
  background-color: rgb(240, 75, 63);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#bookmark-list li button:hover {
  background-color: rgb(221, 66, 55);
}

#bookmark-list li button:active {
  opacity: 0.5;
}

/* custom animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(20px);
  }
}