/* import */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.container>h1 {
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 2.3rem;
}

.board-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
}

.board {
  height: 40vh;
  background-color: #e3e4e8;
  padding: 1rem;
  width: 31%;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.board>h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  margin-bottom: 1rem;
}

.card {
  background-color: white;
  margin-bottom: 16px;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: grab;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 0.1s ease, opacity 0.75s ease;
}

/* responsive design */
@media(max-width: 768px) {
  .board-container {
    flex-direction: column;
    align-items: center;
  }
  .board {
    width: 80%;
    margin-bottom: 2rem;
  }
}

/* psuedoclass and effect */
.card:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

/* when board is over the dragged element */
.board.over {
  background-color: #d1d3d8;
}

/* smoothen drag-drop mechanism */
.card.dragging {
  opacity: 0.75;
}